@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes body {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0.2;
  }
  98% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.loading {
  animation: body 4s ease-in-out;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.3;
  }
}
.lds-roller {
  animation: spinner 4s ease-in-out;
  opacity: 0;
  position: absolute;
  left: 47%;
  bottom: 40vh;
}

.spinner__position {
  width: 100%;
  height: 1px;
  position: relative;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  font-size: 26px;
}

h2, h3, h4, h5, p, li, div, a {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.explore__button {
  cursor: pointer;
  display: block;
  margin: auto;
  max-width: 15rem;
  background: linear-gradient(to top left, #9356dc 20%, #ff79da);
  color: white;
  margin-top: 15px;
  padding: 0.3rem;
  line-height: 3em;
  text-align: center;
  font-size: 1rem;
  box-shadow: 2px 2px 10px 1px rgba(176, 176, 176, 0.7333333333);
  border-radius: 10rem;
  font-weight: 500;
  -webkit-transition: background-color 4s ease;
}
.explore__button:hover {
  background: linear-gradient(to top left, #a978e3 20%, #ffa2e5);
  -webkit-transition: background-color 4s ease;
  box-shadow: 2px 2px 10px 1px #919191;
}

body {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.main {
  max-width: 1400px;
  animation: body 4s ease-in-out;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
@media only screen and (min-width: 1400px) {
  .main {
    max-width: initial;
  }
}

a {
  text-decoration: none;
}

.adress {
  text-decoration: none;
}

header {
  text-align: center;
}
header .header_logo {
  margin-bottom: 0;
  box-shadow: 0px 4px 4px #303030bb;
}
header .local {
  background: rgba(227, 227, 227, 0.7333333333);
  padding: 1rem;
  border-bottom: 2px solid rgba(176, 176, 176, 0.7333333333);
}
header img {
  height: 2.5rem;
}

.reservez {
  padding: 0 1.5rem;
}

.decouvrez {
  padding: 0 3rem;
  font-weight: 400;
}

.explore {
  background-color: white;
  text-align: center;
  padding-bottom: 1rem;
}

.fonctionnement__card {
  position: relative;
}

.fonctionnement__pastille {
  box-sizing: content-box;
  position: absolute;
  font-size: 15px;
  top: 33%;
  left: -1%;
  color: white;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: #9356dc;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  text-align: center;
}
.fonctionnement .fonctionnement__card {
  display: inline-block;
  width: 70%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  background-color: rgba(227, 227, 227, 0.7333333333);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.6rem rgba(176, 176, 176, 0.7333333333);
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .fonctionnement .fonctionnement__card {
    width: 70%;
  }
}
.fonctionnement .fonctionnement__card:hover {
  background-color: rgba(201, 201, 201, 0.7333333333);
  box-shadow: 0.5rem 0.5rem 0.4rem rgba(176, 176, 176, 0.7333333333);
  cursor: pointer;
}
.fonctionnement .fonctionnement__card:hover i {
  color: #9356dc;
}
.fonctionnement .fonctionnement__card i {
  font-size: 1.2rem;
  padding-left: 30px;
  padding-right: 20px;
  color: #303030bb;
}
@media only screen and (min-width: 1400px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  .fonctionnement .fonctionnement__liste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .fonctionnement .fonctionnement__card {
    width: 30%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1399px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  .fonctionnement .fonctionnement__liste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .fonctionnement .fonctionnement__card {
    width: 30%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .fonctionnement .fonctionnement__liste {
    display: flex;
    flex-direction: column;
  }
}

article {
  background-color: rgba(227, 227, 227, 0.7333333333);
  padding-bottom: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.container a {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1400px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1399px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

.restaurant {
  position: relative;
  width: 90%;
  background-color: white;
  color: black;
  text-decoration: none;
  margin: 1rem 0;
  text-align: center;
  box-shadow: 1px 1px 10px 5px rgba(176, 176, 176, 0.7333333333);
  border-radius: 23px;
}
.restaurant img {
  width: 100%;
  height: 200px;
  border-radius: 23px 23px 0 0;
  object-fit: cover;
}
@media only screen and (min-width: 1400px) {
  .restaurant {
    width: 20%;
    margin: 2rem 0rem;
  }
  .restaurant img {
    height: 200px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1399px) {
  .restaurant {
    width: 43%;
    margin: 1rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .restaurant a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .restaurant .restaurant__img {
    width: 50%;
    height: 180px;
  }
  .restaurant .restaurant__img img {
    border-radius: 23px 0 0 23px;
    height: 180px;
  }
}

.restaurant__img--new {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: #99e2d0;
  border-radius: 6px;
  padding: 2px 5px;
  text-decoration: none;
  color: #1b6150;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .restaurant__img--new {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 4em;
  }
}

.restaurant__description {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: start;
  padding: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .restaurant__description {
    position: unset;
  }
}
.restaurant__description h3 {
  margin: 0;
}
.restaurant__description p {
  margin: 0;
}
.restaurant__description .heart1 {
  position: absolute;
  font-size: 2em;
  top: 25%;
  right: 7%;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .restaurant__description .heart1 {
    font-size: 2rem;
    right: 2%;
    top: 75%;
  }
}
.restaurant__description .heart1 :hover {
  color: transparent;
}
.restaurant__description .heart2 {
  position: absolute;
  font-size: 2em;
  top: 25%;
  right: 7%;
  color: transparent;
}
.restaurant__description .heart2 :hover {
  background-color: #9356dc;
  -webkit-background-clip: text;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .restaurant__description .heart2 {
    font-size: 2rem;
    right: 2%;
    top: 75%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .restaurant__description {
    display: flex;
    flex-direction: column;
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  background-color: #646464;
  color: white;
  list-style: none;
  margin: 0;
}
footer ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0 15px 40px;
}
footer ul li {
  margin: 0;
}
footer h1 {
  padding: 10px 30px;
  margin: 0;
  font-size: 20px;
}
footer a {
  color: white;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
