body {
    width: 100%;
    margin:0;
    box-sizing: border-box;
}

.main {
    max-width: 1400px;
    animation: body 2s ease-in-out;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #F4F4F4;
    @include tv {
        max-width: initial;
    }
}



a {
    text-decoration: none;
}
 .adress {
     text-decoration: none;
 }

input {
    border: none;
    background-color: inherit;
    text-align: center;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.container {
    width: 100%;
}