body {
    width: 100%;
    margin:0;
    box-sizing: border-box;
}

.main {
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    @include tv {
        max-width: initial;
    }
}

a {
    text-decoration: none;
}
 .adress {
     text-decoration: none;
 }