body {
    width: 100%;
    margin:0;
    box-sizing: border-box;
}

.main {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}
 .adress {
     text-decoration: none;
 }