@keyframes body {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    98% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading {
    animation: body 2s ease-in-out;
}

@keyframes spinner {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        transform: scale(1.6);
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
        transform: scale(2.8);
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: scale(3.2);
    }
    100% {
        opacity: 1;
        transform: scale(16);
    }
}

.lds-roller {
    box-sizing: content-box;
    animation: spinner 2s ease-in-out;
    scale: 1;
    opacity: 0;
}

.spinner__position {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

@keyframes menu {
    0% {
        transform: translateY(30%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.plats__card--one {
    animation: menu 1s ease-in-out;
}

.plats__card--two {
    animation: menu 2s ease-in-out;
}

.plats__card--three {
    animation: menu 3s ease-in-out;
}

@keyframes fillheart
{
    0%{
        opacity: 0.1;  
        background-image: linear-gradient($colour_secondary, $colour_primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
    }

    20%{
        opacity: 0.2;
    }

    40%{
        opacity: 0.4;
    }

    60%{
        opacity: 0.6;
    }

    80%{
        opacity: 0.8;
    }

    100%{
        opacity: 1;
        background-image: linear-gradient($colour_secondary, $colour_primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
