// Couleurs /////////////////////////////////////////////////////////////////////////

$colour_primary: #9356DC;
$colour_secondary: #FF79DA;
$colour_third: #99e2d0;
$colour_grey: #303030bb;
$colour_grey2: lighten($colour_grey, 50%);
$colour_grey3: lighten($colour_grey2, 20%);
$colour_grey4: lighten($colour_grey3, 10%);
$colour_green: #33FF80;
$colour_green2: #1a502e;

// Radius ///////////////////////////////////////////////////////////////////////////

$radius:(
    menu: 1rem,
    tag: 3rem,
    btn: 10rem,
    propal: 1rem
);

// Media Queries //////////////////////////////////////////////////////////////////////

$breakpoint:(
    tablet: 768px,
    desktop: 1025px,
);

