header a {
    text-decoration: none;
    color: black;
}

.restaurant__menu--header {
    position: relative;
    display: flex;
    flex-direction: column;
    img {
        object-fit: cover;
        height: 40vh;
        width: 100%;
    }
}

.restaurant__name {
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    background-color: #f4f4f4;
    border-radius: 25px 25px 0 0;
    box-shadow: -4 0 15px $colour_grey;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    h1 {
        font-size: 2rem;
        padding-left: 3vw;
    }
    .heart1 {
        position: absolute;
        right: 5vw;
        top: 33%;
        font-size: 2rem;
    }
    .heart2 {
        position: absolute;
        right: 5vw;
        top: 33%;
        color: transparent;
        font-size: 2rem;
        &:hover {
            color: $colour_primary;
            transform: scale(1.1);
            transition: 0.2s ease-in-out;
        }
    }
}

.plats {
    width: 100%;
    background-color: #f4f4f4;
    margin: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        justify-content: space-around;
    }
    @include tv {
        flex-direction: row;
        justify-content: space-around;
    }
    .plats__type {
        display: flex;
        flex-direction: column;
        padding: 0;
        h2 {
            padding-left: 2rem;
        }
        @include tv {
            width: 33%;
        }
        @include desktop {
            width: 33%;
        }
        .plats__card {
            box-sizing: content-box;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            margin: 0;
            padding: 0;
            overflow: hidden;
            animation: menu 1s ease-in-out;
            background-color: white;
            margin-top: 20px;
            border-radius: 30px;
            padding: 0 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .plats__card--name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3 {
                    margin: 0;
                    padding: 0;
                }
            }
            .plats__card--description {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                flex-wrap: wrap;
            }
            .plats__card--price {
                width: 20%;
                text-align: end;
                padding-top: 1em;
            }
        }
    }
}

.plats__card {
    .check-box {
        position: absolute;
        display: flex;
        right: 0;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: $colour-third;
        transform: translateX(100%);
        transition: transform 0.2s;
        & .fa-check-circle {
            cursor: pointer;
            margin: auto;
            font-size: 1.6rem;
            color: white;
            transform: rotate(0);
            transition: transform 0.5s;
        }
    }
}

.plats__card:hover {
    cursor: pointer;
    .check-box {
        transform: translateX(0%);
        & i {
            transform: rotate(720deg);
        }
    }
    .plats__card--price {
        transform: translateX(-100%);
        transition-duration: 0.1s;
    }
}
