header a {
    text-decoration: none;
    color: black;
}

.restaurant__menu--header {
    position: relative;
    display: flex;
    flex-direction: column;
    img {
        object-fit: cover;
        height: 40vh;
        width: 100%;
    }
}

.restaurant__name {
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    background-color: #f4f4f4;
    border-radius: 25px 25px 0 0;
    box-shadow: -4 0 15px $colour_grey;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    h1 {
        font-size: 2rem;
        padding-left: 3vw;
    }
    .heart1 {
        position: absolute;
        right: 5vw;
        top: 33%;
        font-size: 2rem;
    }
    .heart2 {
        position: absolute;
        right: 5vw;
        top: 33%;
        color: transparent;
        font-size: 2rem;
        &:hover {
            animation: fillheart 150ms linear forwards;
        }
    }
}

.plats {
    width: 100%;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        justify-content: space-around;
    }
    @include tv {
        flex-direction: row;
        justify-content: space-around;
    }
    .plats__type {
        display: flex;
        flex-direction: column;
        padding: 0;
        @include tv {
            width: 33%;
        }
        @include desktop {
            width: 33%;
        }
        .plats__card {
            box-sizing: content-box;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            margin: 1vh 2vw;
            padding: 0;
            overflow: hidden;
            background-color: white;
            box-shadow: 0 0 10px $colour_grey2;
            border-radius: 20px;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .plats__card--name {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0;
                padding: 1em 0;
                h3 {
                    margin: 0;
                    padding-bottom: 0.7rem;
                    font-weight: bold;
                }
            }
            .plats__card--description {
                display: flex;
                box-sizing: border-box;
                flex-direction: row;
                justify-content: space-between;
                overflow: hidden;
                text-overflow: ellipsis;
                div {
                    padding-right: 4em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    box-sizing: border-box;
                }
            }
            .plats__card--price {
                position: absolute;
                top: 42%;
                right: 1%;
                font-size: 1.3em;
                font-weight: bolder;
                width: 15%;
                text-align: end;
                margin-left: 1em;
            }
        }
    }
}
.underline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
    h2 {
        font-weight: 400;
        margin-bottom: 5px;
    }
}
.underline__position {
    width: 10%;
    height: 4px;
    background-color: $colour_third;
}
.check-box {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    height: 100%;
    width: 15%;
    background-color: $colour-third;
    transform: translateX(150%);
    transition: transform 0.3s;
    .fa-check-circle {
        cursor: pointer;
        margin: auto;
        font-size: 1.6rem;
        color: white;
        transform: rotate(0);
        transition: transform 1s ease-out;
    }
}

.plats__card:hover {
    cursor: pointer;
    .check-box {
        transform: translateX(0%);
        & i {
            transform: rotate(720deg);
        }
    }
    .plats__card--price {
        transform: translateX(-100%);
        transition-duration: 0.3s;
    }
}

.bouton__commander{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    background-color: #F4F4F4;
    .commander {
        margin: auto;
        font-size: 1.5rem;
        padding: 1px 5rem;
    }
}
